<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.35" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess.Core" version="2.19.60" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net461" />
</packages>